<script src="~/js/InputsValidation/input.js"></script>

@{
    ViewData["Title"] = "Index";
}

<!-- Modal de edição -->
<form id="editForm" action="/Cliente/Update" method="post">
    <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="edit-id" name="id">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="codigo" class="col-form-label">Código:<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="edit-codigo" name="Codigo" required maxlength="15">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cpf-cnpj" class="col-form-label">CPF/CNPJ:<span style="color:red">* No-Auto</span></label>
                            <input type="text" class="form-control" id="edit-cpf-cnpj" name="CpfCnpj" required  maxlength="18">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome-fantasia" class="col-form-label">Nome Fantasia:</label>
                            <input type="text" class="form-control" id="edit-nome-fantasia" name="NomeFantasia" maxlength="23">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="razao-social" class="col-form-label">Razão Social:<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="edit-razao-social" name="RazaoSocial" required maxlength="30">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="rg-ie" class="col-form-label">RG/IE:</label>
                            <input type="text" class="form-control" id="edit-rg-ie" name="RG_IE" maxlength="12">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="tipo" class="col-form-label">Tipo:</label>
                            <select class="form-control" id="edit-tipo" name="Tipo">
                                <option value="PJ">Pessoa Jurídica (PJ)</option>
                                <option value="PF">Pessoa Física (PF)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cep" class="col-form-label">CEP:<span style="color:red">* No-Auto</span></label>
                            <input type="text" class="form-control" id="edit-cep" name="Cep" required onchange="BuscarCep()" maxlength="9">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="logradouro" class="col-form-label">Logradouro:</label>
                            <input type="text" class="form-control" id="edit-logradouro" name="Logradouro" maxlength="40">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="numero" class="col-form-label">Número:</label>
                            <input type="text" class="form-control" id="edit-numero" name="Numero" maxlength="4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="complemento" class="col-form-label">Complemento:</label>
                            <input type="text" class="form-control" id="edit-complemento" name="Complemento" maxlength="50">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="bairro" class="col-form-label">Bairro:</label>
                            <input type="text" class="form-control" id="edit-bairro" name="Bairro" maxlength="50">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="municipio" class="col-form-label">Município:</label>
                            <input type="text" class="form-control" id="edit-municipio" name="Municipio" maxlength="50">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="unidade-federativa" class="col-form-label">Unidade Federativa:</label>
                            <input type="text" class="form-control" id="edit-unidade-federativa" name="UnidadeFederativa" maxlength="4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email" class="col-form-label">Email:<span style="color:red">*</span></label>
                            <input type="email" class="form-control" id="edit-email" name="Email" required maxlength="50">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="telefone" class="col-form-label">Telefone:<span style="color:red">*</span></label>
                            <input type="tel" class="form-control" id="edit-telefone" name="Telefone" required maxlength="15">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</form>

